.btn-style-registration:hover {
    background: #B10135 !important;
    color: white !important;
}

.btn-style-registration {
    pointer-events: auto !important;
    background-color: transparent !important;
    border: none !important;
    border: 1px solid black !important;
}