.card {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: auto;
    align-self: center;
}

.btn-style-login {
    border: 2px solid black !important;
    border-radius: 15px !important;
    background: transparent ;
}

.btn-style-login:hover{
    background: #B10135 !important;
    color: white !important;
} 
