.ButtonDiv{
    justify-content: center;
    align-items: stretch;
}

.cancelUpdateButton{
    margin-left: 10px;
}

.div-style{
    display: flex;
    justify-content: space-around;
}

.div-two-buttons{
    display: flex;
    justify-content: space-evenly;
}

.delete-button{
    pointer-events: auto !important;
}