.footer-style {
    background: #D5C4A9;
    min-width: 100% !important;
    border-top: 1px solid black;
}

.footer-text {
    color: #2F4858;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
}

.background-style{
    background: transparent !important;
}
